# This is a sample .env file.
# Duplicate this file as .env in the root of the project
# and input your link and token.

# TOKEN is the discord token and DBURL is the mongo db link

TOKEN=ODk5MzU2MTM5NTY3ODQ1NDA4.Gp9lUT.vzwejdanyGcjWVGHA4hVvKV4jZEoEHY8uiccX8
DBURL=

# Top.gg api key
TOPGGAPI=

# Your user ID for the bug report command
OWNERID=898612373852659734